language: node.js
node_js:
  - "node"
sudo: required
services:
  - docker

before_install:
  - docker build -t myapp -f Dockerfile.prod .

script:
  - docker run myapp

deploy:
  provider: elasticbeanstalk
  region: "ap-northeast-2"
  app: "cinerium"
  env: "Cinerium-env"
  bucket_name: "elasticbeanstalk-ap-northeast-2-168618943806"
  bucket-path: "cinerium"
  on:
    branch: YG4
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: $AWS_SECRET_KEY
